<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modularization Boosted Agent Simulator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="outer-container">
        <div class="container">
            <div id="initial" class="initial">
                <div class="line"><span class="letter">M.</span><span class="complete">odularization</span></div>
                <div class="line"><span class="letter">B.</span><span class="complete">oosted</span></div>
                <div class="line"><span class="letter">A.</span><span class="complete">gent</span></div>
                <div class="line"><span class="letter">S.</span><span class="complete">imulator</span></div>
            </div>
        </div>
        <div class="white-container"></div>
    </div>
    <button id="start-button">Start</button>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
